.header__lang {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: 46px 3.75% 0 18px;
  gap: 18px;
}

@media screen and (max-width: 1024px) {
  .header__lang {
    margin-right: 4.69%;
  }
}

@media screen and (max-width: 768px) {
  .header__lang {
    margin-right: 3.52%;
  }
}

@media screen and (max-width: 320px) {
  .header__lang {
    margin: 30px 16px 0 0;
  }
}