.card{
  display: grid;
  margin: 0 0 80px 0;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, min-content);
  gap: 48px 40px;
}

.card:last-child{
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .card{
    gap: 48px 32px;
  }
}

@media screen and (max-width: 767px) {
  .card{
    grid-template-columns: auto;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 320px) {
  .card{
    gap: 32px 0;
  }
}