.cover__background{
  margin: 0 3.75%;
  width: 1184px;
}

.cover__background:hover{
  opacity: .3;
  }

  @media screen and (max-width: 1279px){
    .cover__background{
      margin: 0;
      width: 100%;
    }
  }