.place {
  margin: 92px 11.56% 0;
}

@media screen and (max-width: 1024px) {
  .place {
    margin-left: 4.69%;
    margin-right: 4.69%;
  }
}

@media screen and (max-width: 930px) {
  .place {
    margin: 88px 3.11% 0;
  }
}

@media screen and (max-width: 352px) {
  .place {
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
  }
}